Stonedphoenix/src/__pycache__/Function_make_mesh.cpython-313.pyc
Stonedphoenix/src/__pycache__/Function_make_mesh.cpython-313.pyc
Stonedphoenix/src/__pycache__/Function_make_mesh.cpython-313.pyc
Stonedphoenix/src/__pycache__/Function_make_mesh.cpython-313.pyc
Stonedphoenix/Debug_mesh/Experimental.msh
Stonedphoenix/Debug_mesh/.DS_Store
Debug_mesh/Experimental.msh
Stonedphoenix/.DS_Store
Stonedphoenix/mesh.h5
Stonedphoenix/mesh.xdmf
Stonedphoenix/mt.h5
Stonedphoenix/src/__pycache__/Function_make_mesh.cpython-313.pyc
Stonedphoenix/mt.xdmf
Stonedphoenix/src/__pycache__/Function_make_mesh.cpython-313.pyc
*.pyc
*.h5
*.xdmf
.DS_Store
Stonedphoenix/src/__pycache__/Subducting_plate.cpython-313.pyc
Stonedphoenix/src/__pycache__/scal.cpython-313.pyc
Stonedphoenix/src/__pycache__/phase_db.cpython-313.pyc
Stonedphoenix/src/__pycache__/numerical_control.cpython-313.pyc
Stonedphoenix/src/__pycache__/Function_make_mesh.cpython-313.pyc
Stonedphoenix/src/__pycache__/Function_make_mesh.cpython-313.pyc
Stonedphoenix/src/__pycache__/numerical_control.cpython-313.pyc
Stonedphoenix/src/__pycache__/phase_db.cpython-313.pyc
Stonedphoenix/src/__pycache__/scal.cpython-313.pyc
Stonedphoenix/src/__pycache__/Subducting_plate.cpython-313.pyc
Stonedphoenix/src/__pycache__/Function_make_mesh.cpython-313.pyc
Stonedphoenix/src/__pycache__/numerical_control.cpython-313.pyc
Stonedphoenix/src/__pycache__/phase_db.cpython-313.pyc
Stonedphoenix/src/__pycache__/scal.cpython-313.pyc
Stonedphoenix/src/__pycache__/Subducting_plate.cpython-313.pyc
Stonedphoenix/src/__pycache__/Function_make_mesh.cpython-313.pyc
Stonedphoenix/src/__pycache__/numerical_control.cpython-313.pyc
Stonedphoenix/src/__pycache__/phase_db.cpython-313.pyc
Stonedphoenix/src/__pycache__/scal.cpython-313.pyc
Stonedphoenix/src/__pycache__/Subducting_plate.cpython-313.pyc
Stonedphoenix/src/__pycache__/numerical_control.cpython-313.pyc
Stonedphoenix/src/__pycache__/phase_db.cpython-313.pyc
Stonedphoenix/src/__pycache__/scal.cpython-313.pyc
Stonedphoenix/src/__pycache__/Subducting_plate.cpython-313.pyc
*.msh 
*.pyc
*.h5
*.xdmf
.DS_Store
Stonedphoenix/.vscode/launch.json
ReadMe_figure/Technical_documentation.aux
ReadMe_figure/Technical_documentation.bbl
ReadMe_figure/Technical_documentation.blg
ReadMe_figure/Technical_documentation.fdb_latexmk
ReadMe_figure/Technical_documentation.fls
ReadMe_figure/Technical_documentation.log
ReadMe_figure/Technical_documentation.out
ReadMe_figure/Technical_documentation.synctex.gz
src/phase_db.py
ReadMe_figure/Technical_documentation-blx.bib
ReadMe_figure/Technical_documentation.bcf
ReadMe_figure/Technical_documentation.dvi
adiabatic_profile_A.png
adiabatic_profile_B.png
alpha_A.png
alpha_B.png
alpha_error.png
Cp.png
density_A.png
density_B.png
density_error.png
error_alpha.png
error_density.png
temperature_error.png
thermal_conductivity.png
Condu_plate.png
Cp_plate.png
Pressure_plate.png
rho_plate.png
Temp_plate.png
slurm-3125458.out
slurm-3126039.out
slurm-3137331.out
