Stonedphoenix/src/__pycache__/Function_make_mesh.cpython-313.pyc
Stonedphoenix/src/__pycache__/Function_make_mesh.cpython-313.pyc
Stonedphoenix/src/__pycache__/Function_make_mesh.cpython-313.pyc
Stonedphoenix/src/__pycache__/Function_make_mesh.cpython-313.pyc
Stonedphoenix/Debug_mesh/Experimental.msh
Stonedphoenix/Debug_mesh/.DS_Store
Debug_mesh/Experimental.msh
Stonedphoenix/.DS_Store
Stonedphoenix/mesh.h5
Stonedphoenix/mesh.xdmf
Stonedphoenix/mt.h5
Stonedphoenix/src/__pycache__/Function_make_mesh.cpython-313.pyc
Stonedphoenix/mt.xdmf
Stonedphoenix/src/__pycache__/Function_make_mesh.cpython-313.pyc
*.pyc
*.h5
*.xdmf
.DS_Store
Stonedphoenix/src/__pycache__/Subducting_plate.cpython-313.pyc
Stonedphoenix/src/__pycache__/scal.cpython-313.pyc
Stonedphoenix/src/__pycache__/phase_db.cpython-313.pyc
Stonedphoenix/src/__pycache__/numerical_control.cpython-313.pyc
Stonedphoenix/src/__pycache__/Function_make_mesh.cpython-313.pyc
Stonedphoenix/src/__pycache__/Function_make_mesh.cpython-313.pyc
Stonedphoenix/src/__pycache__/numerical_control.cpython-313.pyc
Stonedphoenix/src/__pycache__/phase_db.cpython-313.pyc
Stonedphoenix/src/__pycache__/scal.cpython-313.pyc
Stonedphoenix/src/__pycache__/Subducting_plate.cpython-313.pyc
Stonedphoenix/src/__pycache__/Function_make_mesh.cpython-313.pyc
Stonedphoenix/src/__pycache__/numerical_control.cpython-313.pyc
Stonedphoenix/src/__pycache__/phase_db.cpython-313.pyc
Stonedphoenix/src/__pycache__/scal.cpython-313.pyc
Stonedphoenix/src/__pycache__/Subducting_plate.cpython-313.pyc
Stonedphoenix/src/__pycache__/Function_make_mesh.cpython-313.pyc
Stonedphoenix/src/__pycache__/numerical_control.cpython-313.pyc
Stonedphoenix/src/__pycache__/phase_db.cpython-313.pyc
Stonedphoenix/src/__pycache__/scal.cpython-313.pyc
Stonedphoenix/src/__pycache__/Subducting_plate.cpython-313.pyc
Stonedphoenix/src/__pycache__/numerical_control.cpython-313.pyc
Stonedphoenix/src/__pycache__/phase_db.cpython-313.pyc
Stonedphoenix/src/__pycache__/scal.cpython-313.pyc
Stonedphoenix/src/__pycache__/Subducting_plate.cpython-313.pyc
*.msh 
*.pyc
*.h5
*.xdmf
.DS_Store
Stonedphoenix/.vscode/launch.json
